#define IDR_MANIFEST  1
#define IDR_UNZIP32DLL 101
#define RT_MANIFEST  24
#define RT_INCLUDED_FILE 100

IDR_MANIFEST 	RT_MANIFEST		MOVEABLE PURE	"PSC_RENAMER.manifest.xml"
IDR_UNZIP32DLL	RT_INCLUDED_FILE	DISCARDABLE	"Unzip32.dll"